.advant__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--advant-icon-bg-color);
  border-radius: 4px;
}

.advant__title {
  margin-bottom: 10px;
  font-weight: var(--head-weight);
  font-size: var(--text-size);
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.advant__item {
  min-width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  // outline: 2px solid yellow;
}

/* текст преимущества p */
.advant__text {
  font-size: var(--text-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
